{% extends 'index.html' %}
{% block content %}
<div class="container">
    <div class="col-md-8 mx-auto text-center">
      <h1 class="mb-3 fw-semibold lh-1">Blur image</h1>
      <p class="lead mb-4">Este projecto contiene las funcionalidades necesarias para realizar un difuminado en las caras de una imagen.</p>
      <div class="btn-group">
        <button type="button" class="btn btn-lg btn-primary" onclick="location.href='{% url 'image_create_view' %}'">Upload</button>
        <button type="button" class="btn btn-lg btn-primary" onclick="location.href='{% url 'image_list_view' %}'">Album</button>
      </div>
    </div>
</div>
{% endblock %}