<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Ninth navbar example">
    <div class="container-xl">
      <a class="navbar-brand" href="#">Blur Image</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample07XL">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'image_view' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'image_create_view' %}">Upload</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'image_list_view' %}">Album</a>
          </li>
        </ul>
      </div>
    </div>
</nav>